In [6]:
import pandas as pd
import openpyxl
import seaborn as sns
import matplotlib.pyplot as plt

## Importing Global Development Data
base_dynamic = pd.ExcelFile("datasets/Dynamic_BG.xlsm")
base_mines = pd.read_excel(base_dynamic, "Mine")
base_fields = pd.read_excel(base_dynamic, "Field")

# Displaying the newly imported table
display(base_mines)

,Continent,Country,Region,Mineral,type,number,Start Year,Mine Prod. Low,Mine Prod High,Mine Life Low,...,Disruption reduction.1,Disruption Start.2,Disruption End.2,Disruption reduction.2,Disruption Start.3,Disruption End.3,Disruption reduction.3,Disruption Start.4,Disruption End.4,Disruption reduction.4
0,Africa,Morocco,all,Coal,Anthracite,1,1941,0.003000,0.018000,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa,South_Africa,all,Coal,Anthracite,1,1900,0.001500,0.006000,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Africa,South_Africa,all,Coal,Anthracite,2,1969,0.030000,0.030000,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa,South_Africa,all,Coal,Anthracite,3,2002,0.030000,0.030000,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Africa,Algeria,all,Coal,Bituminous,1,1936,0.001920,0.001920,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,FSU,FSU,Estonia,Oil,Kerogen,1,1940,0.005730,0.005730,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,FSU,FSU,ex_Estonia,Oil,Kerogen,1,2020,0.005730,0.057300,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384,FSU,FSU,Russia,Oil,Kerogen,1,1951,0.005157,0.005157,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,South_America,Brazil,all,Oil,Kerogen,1,1988,0.007162,0.007162,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386,South_America,Brazil,all,Oil,Kerogen,2,2015,0.007162,0.057300,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
base_URR_mines = base_mines.groupby(['Continent', 'Mineral'], as_index=False).agg({'URR': 'sum'})
display(base_URR_mines)
base_URR_fields = base_fields.groupby(['Continent', 'Mineral'], as_index=False).agg({'URR': 'sum'})
display(base_URR_fields)
total_urr = base_mines['URR'].sum() + base_fields['URR'].sum()
print(total_urr)

        Continent Mineral           URR
0          Africa    Coal    988.175662
1            Asia    Coal  12353.461979
2            Asia     Oil    585.183700
3          Europe    Coal   2675.132990
4          Europe     Oil      8.745000
5             FSU    Coal   1668.800000
6             FSU     Oil   1030.220000
7     Middle_East    Coal      2.300160
8   North_America    Coal   4336.945180
9   North_America     Oil   5124.902000
10  South_America    Coal    381.482000
11  South_America     Oil   2001.070000

        Continent Mineral          URR
0          Africa     Gas  3713.247000
1          Africa     Oil  2044.082000
2            Asia     Gas  4994.670476
3            Asia     Oil  1509.311600
4          Europe     Gas  1481.981300
5          Europe     Oil   657.171170
6             FSU     Gas  4102.672000
7             FSU     Oil  3016.381000
8     Middle_East     Gas  4405.810000
9     Middle_East     Oil  4605.798100
10  North_America     Gas  5358.535400
11  North_America     Oil  2422.071763
12  South_America     Gas  3752.900000
13  South_America     Oil  2454.766000

75675.81648